<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="side-nav-main bg-[#A62A22]    fixed top-0 left-0 z-30 w-56 h-full  transform -translate-x-0  shadow-lg " 
[class.w-auto]="sidenavService.collapsed" >
<!-- [class.-translate-x-52]="collapsed" > -->

<!-- [ngClass]="!collapsed? 'translate-x-0': ''"> -->
<div class="px-3 w-auto align-middle" >
  <!-- Header -->
  <div class="nav-header h-13.04 flex py-3  justify-between items-center text-white" >
    <div class="logo w-10 flex items-center last:pl-2" [class.hidden]="sidenavService.collapsed" >
      <img src="assets/logo/back iic logo.png" />
      <span class="align-middle ml-2 font-semibold">IIC</span>
    </div>
    <div class="icon-drawer hover:cursor-pointer " (click)="toggleCollapse()" >
      <svg width="24" height="24" viewBox="0 0 1024 1024" class="fill-current">
        <path *ngIf="!sidenavService.collapsed"
          d="M408 442h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8zm-8 204c0 4.4 3.6 8 8 8h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56zm504-486H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 632H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM115.4 518.9L271.7 642c5.8 4.6 14.4.5 14.4-6.9V388.9c0-7.4-8.5-11.5-14.4-6.9L115.4 505.1a8.74 8.74 0 000 13.8z">
        </path>

        <path *ngIf="sidenavService.collapsed" d="M408 442h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8zm-8 204c0 4.4 3.6 8 8 8h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56zm504-486H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 632H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM142.4 642.1L298.7 519a8.84 8.84 0 000-13.9L142.4 381.9c-5.8-4.6-14.4-.5-14.4 6.9v246.3a8.9 8.9 0 0014.4 7z"></path>
      </svg>
    </div>
  </div>
  
  <!-- Contents -->
  <div class="nav-content pt-2">
    <ul>
      <li class="" *ngFor="let data of labelData; let firstItem = first; let lastItem = last" 
      [ngClass]="{'my-0': firstItem || lastItem, 'my-1': !firstItem && !lastItem}" >

      <div [routerLink]="'/' + data.routeLink"   class="group p-1 rounded hover:bg-white hover:cursor-pointer text-white flex  items-center "  routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true} "
      [attr.data-toggle]="sidenavService.collapsed ? 'tooltip' : null" 
      title={{data.label}} >
   
      
      <ng-container  *ngIf="data.iconLibrary === 'angular'">
        <mat-icon class=" group-hover:text-black bg-transparent">{{ data.icon }}</mat-icon>
      </ng-container>
      <ng-container *ngIf="data.iconLibrary === 'fontawesome'">
        <i class="fas fa-{{ data.icon }}"></i>
      </ng-container>

      <span class="text ml-1 flex-1 group-hover:text-black line-clamp-1" [class.hidden]="sidenavService.collapsed">{{data.label}}</span>

    </div>
    </li>
  
    
    </ul>
  </div>
</div>
</div>